@media (max-width: 768px) {
    #slider .text-heading .text-notification {
        display: none;
    }

    .content-section .section-form .date-time {
        display: block;
        width: 100%;
        max-width: 300px;
        font-size: 16px;
        padding: 10px;
    }
}